@import '../../../node_modules/semantic-ui/src/semantic';

/*!
 * Defaults
 */
@type    : 'element';
@element : 'segment';

@import (multiple) '../../theme.config';

body {
    background: @tertiaryInvertedBackground;
}

.auto-overflow-x {
    overflow-x: auto;
}