<div class="ui fluid vertical pointing menu">
    <a class="{% if menuItem == "index" %}active {% endif %}item">{{ web.title ?? "xFrame CMS" }}</a>
    <div class="{% if menuItem == "page" %}active {% endif %}item">Page
        <div class="menu">
            <a class="{% if action == "page" %}active {% endif %}item">List</a>
            <a class="{% if action == "create-page" %}active {% endif %}item">Add</a>
        </div>
    </div>
    <a class="item">{{ resource ~ '/' ~ menuItem ~ '/' ~ action }}</a>
</div>
