<form class="ui fluid form" name="admin-index" method="POST" action="#admin/index">
    <div class="inline field">
        <div class="ui labeled input">
            <div class="ui label">Web Title</div>
            <input type="text" name="admin-web-title" placeholder="{{ title ?? "xFrame CMS" }}" />
        </div>
    </div>
    <div class="ui primary button save" data-action="save admin" data-step="index">Save</div>
    <div class="ui error message"></div>
</form>
