<div class="block" id="setup-request-check">
    <button class="button {% if section.IS_SET_REQUEST %}is-success{% else %}is-danger{% endif %}">
        <span>Request</span>
        <span class="icon">
            <i class="fas fa-{% if section.IS_SET_REQUEST %}check{% else %}minus{% endif %}"></i>
        </span>
    </button>
</div>
<div class="block" id="setup-database-check">
    <button class="button {% if section.IS_SET_DATABASE %}is-success{% else %}is-danger{% endif %}">
        <span>Database</span>
        <span class="icon">
            <i class="fas fa-{% if section.IS_SET_DATABASE %}check{% else %}minus{% endif %}"></i>
        </span>
    </button>
</div>
<div class="block" id="setup-doctrine2-check">
    <button class="button {% if section.IS_SET_DOCTRINE2 %}is-success{% else %}is-danger{% endif %}">
        <span>Doctrine2</span>
        <span class="icon">
            <i class="fas fa-{% if section.IS_SET_DOCTRINE2 %}check{% else %}minus{% endif %}"></i>
        </span>
    </button>
</div>
<div class="block" id="setup-twig-check">
    <button class="button {% if section.IS_SET_TWIG %}is-success{% else %}is-danger{% endif %}">
        <span>Twig</span>
        <span class="icon">
            <i class="fas fa-{% if section.IS_SET_TWIG %}check{% else %}minus{% endif %}"></i>
        </span>
    </button>
</div>
<div class="block" id="setup-cache-check">
    <button class="button {% if section.IS_SET_CACHE %}is-success{% else %}is-danger{% endif %}">
        <span>Cache</span>
        <span class="icon">
            <i class="fas fa-{% if section.IS_SET_CACHE %}check{% else %}minus{% endif %}"></i>
        </span>
    </button>
</div>
<div class="block" id="setup-plugin-check">
    <button class="button {% if section.IS_SET_PLUGIN %}is-success{% else %}is-danger{% endif %}">
        <span>Plugin</span>
        <span class="icon">
            <i class="fas fa-{% if section.IS_SET_PLUGIN %}check{% else %}minus{% endif %}"></i>
        </span>
    </button>
</div>
<form name="setup-setup" method="POST" action="#save/setup">
    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button class="button is-primary">Verify</button>
                    <button class="button is-secondary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
