<form name="setup-twig" method="POST" action="#save/twig">
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Auto Rebuild?</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="twig-rebuild"{% if section.AUTO_REBUILD %} checked{% endif %}>
                        Yes
                    </label>
                    <label class="radio">
                        <input type="radio" name="twig-rebuild"{% if not section.AUTO_REBUILD %} checked{% endif %}>
                        No
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button class="button is-primary">Verify</button>
                    <button class="button is-secondary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
