<form name="setup-cache" method="POST" action="#save/cache">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">PHP Class</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="cache-class" placeholder="\Memcached"{% if section.CACHE_CLASS %} value="{{ section.CACHE_CLASS }}"{% endif %} />
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Enabled?</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="cache-enabled"{% if section.ENABLED %} checked{% endif %}>
                        Yes
                    </label>
                    <label class="radio">
                        <input type="radio" name="cache-enabled"{% if not section.ENABLED %} checked{% endif %}>
                        No
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Host</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="cache-host" placeholder="localhost"{% if section.HOST %} value="{{ section.HOST }}"{% endif %} />
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Port</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="number" name="cache-port" placeholder="11211"{% if section.PORT %} value="{{ section.PORT }}"{% endif %} />
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button class="button is-primary">Verify</button>
                    <button class="button is-secondary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
