<p id="setup-request-check">
    <button class="ui {% if section.IS_SET_REQUEST %}green{% else %}red{% endif %} large button">
        <i class="{% if section.IS_SET_REQUEST %}checkmark box{% else %}minus square outline{% endif %} icon"></i>Request
    </button>
</p>
<p id="setup-database-check">
    <button class="ui {% if section.IS_SET_DATABASE %}green{% else %}red{% endif %} large button">
        <i class="{% if section.IS_SET_DATABASE %}checkmark box{% else %}minus square outline{% endif %} icon"></i>Database
    </button>
</P>
<p id="setup-doctrine2-check">
    <button class="ui {% if section.IS_SET_DOCTRINE2 %}green{% else %}red{% endif %} large button">
        <i class="{% if section.IS_SET_DOCTRINE2 %}checkmark box{% else %}minus square outline{% endif %} icon"></i>Doctrine2
    </button>
</p>
<p id="setup-twig-check">
    <button class="ui {% if section.IS_SET_TWIG %}green{% else %}red{% endif %} large button">
        <i class="{% if section.IS_SET_TWIG %}checkmark box{% else %}minus square outline{% endif %} icon"></i>Twig
    </button>
</p>
<p id="setup-cache-check">
    <button class="ui {% if section.IS_SET_CACHE %}green{% else %}red{% endif %} large button">
        <i class="{% if section.IS_SET_CACHE %}checkmark box{% else %}minus square outline{% endif %} icon"></i>Cache
    </button>
</p>
<p id="setup-plugin-check">
    <button class="ui {% if section.IS_SET_PLUGIN %}green{% else %}red{% endif %} large button">
        <i class="{% if section.IS_SET_PLUGIN %}checkmark box{% else %}minus square outline{% endif %} icon"></i>Plugin
    </button>
</p>
<form class="ui fluid form" name="setup-setup" method="POST" action="#save/setup">
    <div class="ui green button verify" data-action="verify setup" data-step="setup">Verify</div>
    <div class="ui primary button save" data-action="save setup" data-step="setup">Save</div>
    <div class="ui error message"></div>
</form>
