{% extends "_layout/default.twig" %}

{% block meta_description %}{% endblock %}

{% block title %}Error{% endblock %}

{% block contents %}
    <h1 class="title">Error</h1>
    <article class="message is-danger">
        <div class="message-header">
            <p>{{ errorMessage }}</p>
        </div>
        {% if errorStack %}
        <div class="message-body">
            <pre>{{ errorStack }}</pre>
        </div>
        {% endif %}
    </article>
{% endblock %}

{% block footer %}{% endblock %}
